body {
    background: #94A187;
}
h1 {
    text-align: center;
    font-family: 'Changa', sans-serif;
}
#calculator {
    text-align: center;
    margin: 0 auto;
    width: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(5, 50px);
    gap: 0px;
}
#ac {
    grid-column: 1 / 2;
}
#result {
    grid-column: 2 / -1;
    font-size: 1.5rem;
    padding-left: 15px;
    background: #718D8E;
}

button {
    border-radius: 0px;
    background: #4A5C72;
    box-shadow:  0px 0px 0px #D6A390, 
                -0px -0px 0px #718D8E;
    font-family: 'Changa', sans-serif;
    /* font-family: 'Chivo', sans-serif; */
    /* font-family: 'JetBrains Mono', monospace; */
    /* font-family: 'Merriweather Sans', sans-serif; */
/* 
    font-family: 'Hammersmith One', sans-serif; */
    font-size: 1.5rem;
}
button:hover {
    background: #718D8E;
    box-shadow: inset 8px 8px 11px #718D8E, 
    inset -8px -8px 11px #718D8E;   
}